[Desktop Entry]
Type=Application
Name=vkQuake
Comment=A Quake 1 port using Vulkan.
Icon=${SNAP}/snap/gui/quake.png
Exec=vkquake.vkquake-launch
Categories=Game;ActionGame;
Keywords=first;person;shooter;quake;
